USE [master]
GO
/****** Object:  Database [ComprenEasy]    Script Date: 11/05/2026 23:51:12 ******/
CREATE DATABASE [ComprenEasy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComprenEasy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComprenEasy.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComprenEasy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComprenEasy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComprenEasy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComprenEasy]
GO
/****** Object:  Table [dbo].[AdaptiveRecommendations]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdaptiveRecommendations](
	[RecommendationId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SourceAttemptId] [bigint] NOT NULL,
	[CurrentDifficultyLevelId] [tinyint] NOT NULL,
	[RecommendedDifficultyLevelId] [tinyint] NOT NULL,
	[PredictedAction] [varchar](25) NOT NULL,
	[RecommendedAssessmentId] [int] NULL,
	[EngineType] [varchar](20) NOT NULL,
	[ConfidenceScore] [decimal](5, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AdaptiveRecommendations] PRIMARY KEY CLUSTERED 
(
	[RecommendationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentAttempts]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentAttempts](
	[AttemptId] [bigint] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[AttemptNumber] [tinyint] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[FinishedAt] [datetime2](7) NULL,
	[TotalScore] [decimal](5, 2) NULL,
	[LiteralScore] [decimal](5, 2) NULL,
	[InferentialScore] [decimal](5, 2) NULL,
	[CriticalScore] [decimal](5, 2) NULL,
	[TotalCorrect] [int] NULL,
	[TotalErrors] [int] NULL,
	[TotalTimeSeconds] [int] NULL,
	[CompletionPercentage] [decimal](5, 2) NULL,
 CONSTRAINT [PK_AssessmentAttempts] PRIMARY KEY CLUSTERED 
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentQuestions]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentQuestions](
	[AssessmentQuestionId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[PhaseId] [tinyint] NULL,
	[DisplayOrder] [tinyint] NOT NULL,
	[Points] [decimal](5, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AssessmentQuestions] PRIMARY KEY CLUSTERED 
(
	[AssessmentQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[AssessmentId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentType] [varchar](20) NOT NULL,
	[ReadingId] [int] NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[DifficultyLevelId] [tinyint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Assessments] PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttemptAnswers]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttemptAnswers](
	[AttemptAnswerId] [bigint] IDENTITY(1,1) NOT NULL,
	[AttemptId] [bigint] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[SelectedOptionId] [int] NULL,
	[IsCorrect] [bit] NULL,
	[ScoreObtained] [decimal](5, 2) NULL,
	[AnswerTimeSeconds] [int] NULL,
	[AnsweredAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AttemptAnswers] PRIMARY KEY CLUSTERED 
(
	[AttemptAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttemptPhaseProgress]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttemptPhaseProgress](
	[AttemptPhaseProgressId] [bigint] IDENTITY(1,1) NOT NULL,
	[AttemptId] [bigint] NOT NULL,
	[PhaseId] [tinyint] NOT NULL,
	[SequenceOrder] [tinyint] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[StartedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[TimeSpentSeconds] [int] NULL,
	[UnlockReason] [nvarchar](200) NULL,
 CONSTRAINT [PK_AttemptPhaseProgress] PRIMARY KEY CLUSTERED 
(
	[AttemptPhaseProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badges]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[BadgeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IconKey] [varchar](40) NULL,
	[CriteriaCode] [varchar](40) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Badges] PRIMARY KEY CLUSTERED 
(
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentTags]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentTags](
	[CommentTagId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CommentTags] PRIMARY KEY CLUSTERED 
(
	[CommentTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DifficultyLevels]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DifficultyLevels](
	[DifficultyLevelId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[RankOrder] [tinyint] NOT NULL,
 CONSTRAINT [PK_DifficultyLevels] PRIMARY KEY CLUSTERED 
(
	[DifficultyLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dimensions]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dimensions](
	[DimensionId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Dimensions] PRIMARY KEY CLUSTERED 
(
	[DimensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackLogs]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackLogs](
	[FeedbackLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[AttemptId] [bigint] NOT NULL,
	[PhaseId] [tinyint] NULL,
	[QuestionId] [int] NULL,
	[FeedbackType] [varchar](20) NOT NULL,
	[Message] [nvarchar](300) NOT NULL,
	[Severity] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FeedbackLogs] PRIMARY KEY CLUSTERED 
(
	[FeedbackLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MlPredictions]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MlPredictions](
	[MlPredictionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RecommendationId] [bigint] NOT NULL,
	[LiteralScore] [decimal](5, 2) NOT NULL,
	[InferentialScore] [decimal](5, 2) NOT NULL,
	[CriticalScore] [decimal](5, 2) NOT NULL,
	[ErrorCount] [int] NOT NULL,
	[AvgResponseTimeSeconds] [decimal](8, 2) NOT NULL,
	[CurrentDifficultyRank] [tinyint] NOT NULL,
	[PreviousProgressDelta] [decimal](5, 2) NULL,
	[ModelVersion] [varchar](30) NULL,
	[RawOutput] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MlPredictions] PRIMARY KEY CLUSTERED 
(
	[MlPredictionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetLogs]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetLogs](
	[PasswordResetLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ResetByUserId] [int] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[ResetAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordResetLogs] PRIMARY KEY CLUSTERED 
(
	[PasswordResetLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phases]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phases](
	[PhaseId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[DisplayName] [varchar](30) NOT NULL,
	[DefaultOrder] [tinyint] NOT NULL,
 CONSTRAINT [PK_Phases] PRIMARY KEY CLUSTERED 
(
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOptions]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptions](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[OptionText] [nvarchar](300) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[DisplayOrder] [tinyint] NOT NULL,
 CONSTRAINT [PK_QuestionOptions] PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[DimensionId] [tinyint] NOT NULL,
	[Stem] [nvarchar](500) NOT NULL,
	[QuestionType] [varchar](20) NOT NULL,
	[Explanation] [nvarchar](500) NULL,
	[DifficultyLevelId] [tinyint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingPhases]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingPhases](
	[ReadingPhaseId] [int] IDENTITY(1,1) NOT NULL,
	[ReadingId] [int] NOT NULL,
	[PhaseId] [tinyint] NOT NULL,
	[DisplayOrder] [tinyint] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[GuidanceText] [nvarchar](500) NULL,
	[MinQuestionsToUnlockNext] [tinyint] NULL,
 CONSTRAINT [PK_ReadingPhases] PRIMARY KEY CLUSTERED 
(
	[ReadingPhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readings]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readings](
	[ReadingId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Summary] [nvarchar](300) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[DifficultyLevelId] [tinyint] NOT NULL,
	[EstimatedMinutes] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Readings] PRIMARY KEY CLUSTERED 
(
	[ReadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentBadges]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBadges](
	[StudentBadgeId] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[BadgeId] [int] NOT NULL,
	[AttemptId] [bigint] NULL,
	[EarnedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StudentBadges] PRIMARY KEY CLUSTERED 
(
	[StudentBadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] NOT NULL,
	[Grade] [tinyint] NOT NULL,
	[Section] [varchar](10) NULL,
	[IsEnabledForTest] [bit] NOT NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherComments]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherComments](
	[TeacherCommentId] [bigint] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[AttemptId] [bigint] NULL,
	[CommentTagId] [tinyint] NOT NULL,
	[CommentText] [nvarchar](300) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TeacherComments] PRIMARY KEY CLUSTERED 
(
	[TeacherCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] NOT NULL,
	[CanResetPasswords] [bit] NOT NULL,
	[IsHiddenAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/05/2026 23:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [smallint] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdaptiveRecommendations] ON 

INSERT [dbo].[AdaptiveRecommendations] ([RecommendationId], [StudentId], [SourceAttemptId], [CurrentDifficultyLevelId], [RecommendedDifficultyLevelId], [PredictedAction], [RecommendedAssessmentId], [EngineType], [ConfidenceScore], [CreatedAt]) VALUES (1, 7, 1, 2, 1, N'Reforzar', NULL, N'Rules', CAST(82.00 AS Decimal(5, 2)), CAST(N'2026-04-28T23:54:54.7636002' AS DateTime2))
INSERT [dbo].[AdaptiveRecommendations] ([RecommendationId], [StudentId], [SourceAttemptId], [CurrentDifficultyLevelId], [RecommendedDifficultyLevelId], [PredictedAction], [RecommendedAssessmentId], [EngineType], [ConfidenceScore], [CreatedAt]) VALUES (2, 7, 2, 2, 3, N'AvanzarConApoyo', NULL, N'Rules', CAST(95.00 AS Decimal(5, 2)), CAST(N'2026-04-28T23:59:28.1803125' AS DateTime2))
INSERT [dbo].[AdaptiveRecommendations] ([RecommendationId], [StudentId], [SourceAttemptId], [CurrentDifficultyLevelId], [RecommendedDifficultyLevelId], [PredictedAction], [RecommendedAssessmentId], [EngineType], [ConfidenceScore], [CreatedAt]) VALUES (10002, 1003, 10002, 2, 3, N'AvanzarConApoyo', NULL, N'Rules', CAST(92.00 AS Decimal(5, 2)), CAST(N'2026-05-05T03:20:26.8720312' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AdaptiveRecommendations] OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentAttempts] ON 

INSERT [dbo].[AssessmentAttempts] ([AttemptId], [AssessmentId], [StudentId], [AttemptNumber], [Status], [StartedAt], [FinishedAt], [TotalScore], [LiteralScore], [InferentialScore], [CriticalScore], [TotalCorrect], [TotalErrors], [TotalTimeSeconds], [CompletionPercentage]) VALUES (1, 1, 7, 1, N'Completed', CAST(N'2026-04-28T23:54:37.9266225' AS DateTime2), CAST(N'2026-04-28T23:54:54.5642486' AS DateTime2), CAST(16.67 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), 1, 5, 96, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[AssessmentAttempts] ([AttemptId], [AssessmentId], [StudentId], [AttemptNumber], [Status], [StartedAt], [FinishedAt], [TotalScore], [LiteralScore], [InferentialScore], [CriticalScore], [TotalCorrect], [TotalErrors], [TotalTimeSeconds], [CompletionPercentage]) VALUES (2, 4, 7, 1, N'Completed', CAST(N'2026-04-28T23:55:17.4535901' AS DateTime2), CAST(N'2026-04-28T23:59:28.1143250' AS DateTime2), CAST(66.67 AS Decimal(5, 2)), CAST(66.67 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), CAST(100.00 AS Decimal(5, 2)), 4, 2, 115, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[AssessmentAttempts] ([AttemptId], [AssessmentId], [StudentId], [AttemptNumber], [Status], [StartedAt], [FinishedAt], [TotalScore], [LiteralScore], [InferentialScore], [CriticalScore], [TotalCorrect], [TotalErrors], [TotalTimeSeconds], [CompletionPercentage]) VALUES (3, 5, 7, 1, N'InProgress', CAST(N'2026-04-29T00:00:45.0148608' AS DateTime2), NULL, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AssessmentAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentQuestions] ON 

INSERT [dbo].[AssessmentQuestions] ([AssessmentQuestionId], [AssessmentId], [QuestionId], [PhaseId], [DisplayOrder], [Points], [IsActive]) VALUES (1, 1, 7, NULL, 1, CAST(100.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[AssessmentQuestions] ([AssessmentQuestionId], [AssessmentId], [QuestionId], [PhaseId], [DisplayOrder], [Points], [IsActive]) VALUES (2, 1, 8, NULL, 2, CAST(100.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[AssessmentQuestions] ([AssessmentQuestionId], [AssessmentId], [QuestionId], [PhaseId], [DisplayOrder], [Points], [IsActive]) VALUES (3, 1, 9, NULL, 3, CAST(100.00 AS Decimal(5, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[AssessmentQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Assessments] ON 

INSERT [dbo].[Assessments] ([AssessmentId], [AssessmentType], [ReadingId], [Title], [Description], [DifficultyLevelId], [IsActive], [CreatedAt]) VALUES (1, N'Pretest', NULL, N'[Seed Flow] Pretest Diagnostico', N'Pretest activo para validar el inicio del flujo academico.', 2, 1, CAST(N'2026-04-28T18:41:17.5166997' AS DateTime2))
INSERT [dbo].[Assessments] ([AssessmentId], [AssessmentType], [ReadingId], [Title], [Description], [DifficultyLevelId], [IsActive], [CreatedAt]) VALUES (2, N'Posttest', NULL, N'[Seed Flow] Posttest Final', N'Posttest activo para validar el cierre del flujo academico.', 2, 1, CAST(N'2026-04-28T18:41:17.5226778' AS DateTime2))
INSERT [dbo].[Assessments] ([AssessmentId], [AssessmentType], [ReadingId], [Title], [Description], [DifficultyLevelId], [IsActive], [CreatedAt]) VALUES (3, N'ReadingPractice', 1, N'[Seed Flow] Los ecos del bosque - ReadingPractice', N'Evaluacion de practica asociada a la lectura semilla.', 1, 1, CAST(N'2026-04-28T18:41:17.5366756' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Assessments] OFF
GO
SET IDENTITY_INSERT [dbo].[AttemptAnswers] ON 

INSERT [dbo].[AttemptAnswers] ([AttemptAnswerId], [AttemptId], [QuestionId], [SelectedOptionId], [IsCorrect], [ScoreObtained], [AnswerTimeSeconds], [AnsweredAt]) VALUES (1, 1, 7, 20, 0, CAST(0.00 AS Decimal(5, 2)), 16, CAST(N'2026-04-28T23:54:54.3139881' AS DateTime2))
INSERT [dbo].[AttemptAnswers] ([AttemptAnswerId], [AttemptId], [QuestionId], [SelectedOptionId], [IsCorrect], [ScoreObtained], [AnswerTimeSeconds], [AnsweredAt]) VALUES (2, 1, 8, 23, 0, CAST(0.00 AS Decimal(5, 2)), 16, CAST(N'2026-04-28T23:54:54.3139881' AS DateTime2))
INSERT [dbo].[AttemptAnswers] ([AttemptAnswerId], [AttemptId], [QuestionId], [SelectedOptionId], [IsCorrect], [ScoreObtained], [AnswerTimeSeconds], [AnsweredAt]) VALUES (3, 1, 9, 27, 0, CAST(0.00 AS Decimal(5, 2)), 16, CAST(N'2026-04-28T23:54:54.3139881' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AttemptAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[AttemptPhaseProgress] ON 

INSERT [dbo].[AttemptPhaseProgress] ([AttemptPhaseProgressId], [AttemptId], [PhaseId], [SequenceOrder], [Status], [StartedAt], [CompletedAt], [TimeSpentSeconds], [UnlockReason]) VALUES (1, 2, 1, 1, N'Completed', CAST(N'2026-04-28T23:55:17.5007077' AS DateTime2), CAST(N'2026-04-28T23:56:44.8211169' AS DateTime2), 25, N'Initial reading phase unlocked.')
INSERT [dbo].[AttemptPhaseProgress] ([AttemptPhaseProgressId], [AttemptId], [PhaseId], [SequenceOrder], [Status], [StartedAt], [CompletedAt], [TimeSpentSeconds], [UnlockReason]) VALUES (2, 2, 2, 2, N'Completed', CAST(N'2026-04-28T23:57:48.8070635' AS DateTime2), CAST(N'2026-04-28T23:57:49.6014840' AS DateTime2), 64, NULL)
INSERT [dbo].[AttemptPhaseProgress] ([AttemptPhaseProgressId], [AttemptId], [PhaseId], [SequenceOrder], [Status], [StartedAt], [CompletedAt], [TimeSpentSeconds], [UnlockReason]) VALUES (3, 2, 3, 3, N'Completed', CAST(N'2026-04-28T23:58:44.5154469' AS DateTime2), CAST(N'2026-04-28T23:58:44.8415564' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[AttemptPhaseProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Badges] ON 

INSERT [dbo].[Badges] ([BadgeId], [Name], [Description], [IconKey], [CriteriaCode], [IsActive]) VALUES (1, N'Primera lectura completada', N'Se obtiene al completar la primera lectura.', N'badge-first-reading', N'FIRST_READING_COMPLETED', 1)
INSERT [dbo].[Badges] ([BadgeId], [Name], [Description], [IconKey], [CriteriaCode], [IsActive]) VALUES (2, N'Buen desempeño', N'Se obtiene al alcanzar un buen puntaje en una sesión.', N'badge-high-score', N'HIGH_SCORE', 1)
INSERT [dbo].[Badges] ([BadgeId], [Name], [Description], [IconKey], [CriteriaCode], [IsActive]) VALUES (3, N'Progreso constante', N'Se obtiene al mantener mejora en varias sesiones.', N'badge-consistent-progress', N'CONSISTENT_PROGRESS', 1)
SET IDENTITY_INSERT [dbo].[Badges] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentTags] ON 

INSERT [dbo].[CommentTags] ([CommentTagId], [Name], [IsActive]) VALUES (1, N'Buen avance', 1)
INSERT [dbo].[CommentTags] ([CommentTagId], [Name], [IsActive]) VALUES (2, N'Reforzar', 1)
INSERT [dbo].[CommentTags] ([CommentTagId], [Name], [IsActive]) VALUES (3, N'Revisar lectura', 1)
SET IDENTITY_INSERT [dbo].[CommentTags] OFF
GO
SET IDENTITY_INSERT [dbo].[DifficultyLevels] ON 

INSERT [dbo].[DifficultyLevels] ([DifficultyLevelId], [Name], [RankOrder]) VALUES (1, N'Básico', 1)
INSERT [dbo].[DifficultyLevels] ([DifficultyLevelId], [Name], [RankOrder]) VALUES (2, N'Intermedio', 2)
INSERT [dbo].[DifficultyLevels] ([DifficultyLevelId], [Name], [RankOrder]) VALUES (3, N'Avanzado', 3)
SET IDENTITY_INSERT [dbo].[DifficultyLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[Dimensions] ON 

INSERT [dbo].[Dimensions] ([DimensionId], [Name], [Description]) VALUES (1, N'Literal', N'Comprensión literal de información explícita.')
INSERT [dbo].[Dimensions] ([DimensionId], [Name], [Description]) VALUES (2, N'Inferencial', N'Comprensión inferencial a partir de pistas del texto.')
INSERT [dbo].[Dimensions] ([DimensionId], [Name], [Description]) VALUES (3, N'CriticaEvaluativa', N'Valora, compara y emite juicio sobre el texto')
SET IDENTITY_INSERT [dbo].[Dimensions] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackLogs] ON 

INSERT [dbo].[FeedbackLogs] ([FeedbackLogId], [AttemptId], [PhaseId], [QuestionId], [FeedbackType], [Message], [Severity], [CreatedAt]) VALUES (1, 2, 1, NULL, N'Immediate', N'Preview phase completed.', N'Info', CAST(N'2026-04-28T18:56:44.9028717' AS DateTime2))
INSERT [dbo].[FeedbackLogs] ([FeedbackLogId], [AttemptId], [PhaseId], [QuestionId], [FeedbackType], [Message], [Severity], [CreatedAt]) VALUES (2, 2, 2, NULL, N'Immediate', N'Question phase completed.', N'Info', CAST(N'2026-04-28T18:57:49.6489716' AS DateTime2))
INSERT [dbo].[FeedbackLogs] ([FeedbackLogId], [AttemptId], [PhaseId], [QuestionId], [FeedbackType], [Message], [Severity], [CreatedAt]) VALUES (3, 2, 3, NULL, N'Immediate', N'Read phase completed.', N'Info', CAST(N'2026-04-28T18:58:44.8678008' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FeedbackLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[MlPredictions] ON 

INSERT [dbo].[MlPredictions] ([MlPredictionId], [RecommendationId], [LiteralScore], [InferentialScore], [CriticalScore], [ErrorCount], [AvgResponseTimeSeconds], [CurrentDifficultyRank], [PreviousProgressDelta], [ModelVersion], [RawOutput], [CreatedAt]) VALUES (1, 1, CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), 5, CAST(16.00 AS Decimal(8, 2)), 2, NULL, N'rules-v1', N'action=Reforzar;difficulty=1;score=16.67;completion=100;errors=5;avg=16', CAST(N'2026-04-28T23:54:54.8045457' AS DateTime2))
INSERT [dbo].[MlPredictions] ([MlPredictionId], [RecommendationId], [LiteralScore], [InferentialScore], [CriticalScore], [ErrorCount], [AvgResponseTimeSeconds], [CurrentDifficultyRank], [PreviousProgressDelta], [ModelVersion], [RawOutput], [CreatedAt]) VALUES (2, 2, CAST(66.67 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), CAST(100.00 AS Decimal(5, 2)), 2, CAST(19.17 AS Decimal(8, 2)), 2, CAST(50.00 AS Decimal(5, 2)), N'rules-v1', N'action=AvanzarConApoyo;difficulty=3;score=66.67;completion=100;errors=2;avg=19.17', CAST(N'2026-04-28T23:59:28.1852556' AS DateTime2))
INSERT [dbo].[MlPredictions] ([MlPredictionId], [RecommendationId], [LiteralScore], [InferentialScore], [CriticalScore], [ErrorCount], [AvgResponseTimeSeconds], [CurrentDifficultyRank], [PreviousProgressDelta], [ModelVersion], [RawOutput], [CreatedAt]) VALUES (10002, 10002, CAST(100.00 AS Decimal(5, 2)), CAST(50.00 AS Decimal(5, 2)), CAST(100.00 AS Decimal(5, 2)), 1, CAST(15.33 AS Decimal(8, 2)), 2, NULL, N'rules-v1', N'action=AvanzarConApoyo;difficulty=3;score=83.33;completion=100;errors=1;avg=15.33', CAST(N'2026-05-05T03:20:26.9611719' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MlPredictions] OFF
GO
SET IDENTITY_INSERT [dbo].[Phases] ON 

INSERT [dbo].[Phases] ([PhaseId], [Code], [DisplayName], [DefaultOrder]) VALUES (1, N'Preview', N'Preview', 1)
INSERT [dbo].[Phases] ([PhaseId], [Code], [DisplayName], [DefaultOrder]) VALUES (2, N'Question', N'Question', 2)
INSERT [dbo].[Phases] ([PhaseId], [Code], [DisplayName], [DefaultOrder]) VALUES (3, N'Read', N'Read', 3)
SET IDENTITY_INSERT [dbo].[Phases] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] ON 

INSERT [dbo].[QuestionOptions] ([OptionId], [QuestionId], [OptionText], [IsCorrect], [DisplayOrder]) VALUES (1, 1, N'Decidio reparar el puente sin destruirlo', 1, 1)
INSERT [dbo].[QuestionOptions] ([OptionId], [QuestionId], [OptionText], [IsCorrect], [DisplayOrder]) VALUES (2, 1, N'Vendio el puente', 0, 2)
INSERT [dbo].[QuestionOptions] ([OptionId], [QuestionId], [OptionText], [IsCorrect], [DisplayOrder]) VALUES (3, 1, N'Cerco el acceso al barrio', 0, 3)
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [DimensionId], [Stem], [QuestionType], [Explanation], [DifficultyLevelId], [IsActive], [CreatedAt]) VALUES (1, 1, N'[Seed Flow][Posttest] Que evidencia muestra que la comunidad valoro su historia?', N'MultipleChoice', N'Busca la evidencia explicita central.', 2, 1, CAST(N'2026-04-28T18:41:17.5506770' AS DateTime2))
INSERT [dbo].[Questions] ([QuestionId], [DimensionId], [Stem], [QuestionType], [Explanation], [DifficultyLevelId], [IsActive], [CreatedAt]) VALUES (2, 1, N'[Seed Flow][Posttest] Que recurso revisaron los vecinos antes de decidir?', N'MultipleChoice', N'Recuerda una accion puntual.', 2, 1, CAST(N'2026-04-28T18:41:17.5506770' AS DateTime2))
INSERT [dbo].[Questions] ([QuestionId], [DimensionId], [Stem], [QuestionType], [Explanation], [DifficultyLevelId], [IsActive], [CreatedAt]) VALUES (3, 2, N'[Seed Flow][Posttest] Que se infiere sobre la decision final del barrio?', N'MultipleChoice', N'Interpreta la intencion colectiva.', 2, 1, CAST(N'2026-04-28T18:41:17.5506770' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadingPhases] ON 

INSERT [dbo].[ReadingPhases] ([ReadingPhaseId], [ReadingId], [PhaseId], [DisplayOrder], [IsEnabled], [IsRequired], [GuidanceText], [MinQuestionsToUnlockNext]) VALUES (1, 1, 1, 1, 1, 1, N'Observa titulos y pistas antes de leer.', 1)
INSERT [dbo].[ReadingPhases] ([ReadingPhaseId], [ReadingId], [PhaseId], [DisplayOrder], [IsEnabled], [IsRequired], [GuidanceText], [MinQuestionsToUnlockNext]) VALUES (2, 2, 1, 1, 1, 1, N'Observa titulos y pistas antes de leer.', 1)
INSERT [dbo].[ReadingPhases] ([ReadingPhaseId], [ReadingId], [PhaseId], [DisplayOrder], [IsEnabled], [IsRequired], [GuidanceText], [MinQuestionsToUnlockNext]) VALUES (3, 3, 1, 1, 1, 1, N'Observa titulos y pistas antes de leer.', 1)
SET IDENTITY_INSERT [dbo].[ReadingPhases] OFF
GO
SET IDENTITY_INSERT [dbo].[Readings] ON 

SET IDENTITY_INSERT [dbo].[Readings] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name], [IsActive]) VALUES (1, N'Student', 1)
INSERT [dbo].[Roles] ([RoleId], [Name], [IsActive]) VALUES (2, N'Teacher', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Students] ([StudentId], [Grade], [Section], [IsEnabledForTest], [Notes]) VALUES (2, 1, NULL, 1, NULL)
INSERT [dbo].[Students] ([StudentId], [Grade], [Section], [IsEnabledForTest], [Notes]) VALUES (5, 1, N'1', 1, NULL)
INSERT [dbo].[Students] ([StudentId], [Grade], [Section], [IsEnabledForTest], [Notes]) VALUES (6, 1, NULL, 1, NULL)
GO
INSERT [dbo].[Teachers] ([TeacherId], [CanResetPasswords], [IsHiddenAdmin]) VALUES (4, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [FullName], [Username], [PasswordHash], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, 2, N'admin', N'admin', N'12345', 1, CAST(N'2026-03-06T22:10:41.7691295' AS DateTime2), NULL)
INSERT [dbo].[Users] ([UserId], [RoleId], [FullName], [Username], [PasswordHash], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'Nicol Shantal Gabriel Robles', N'123124354gd', N'PBKDF2SHA256.100000.CHJorShaMWwt+AzUONYQ5A==.JIKBAlNvivwqExp6SNc3YImiPy4aIqKh8z4+6QgjdpY=', 1, CAST(N'2026-04-27T00:51:58.2849757' AS DateTime2), NULL)
INSERT [dbo].[Users] ([UserId], [RoleId], [FullName], [Username], [PasswordHash], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (4, 2, N'Seed Teacher', N'seed.teacher', N'PBKDF2SHA256.100000.KAr/hsMEI+V3uC8Y5i4Vkw==.jhj1W9COvYrxuBLDKnIckYNzOnLDr1ycHajJC4GxV48=', 1, CAST(N'2026-04-28T18:41:17.4656751' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AdaptiveRecommendations_RecommendedAssessmentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AdaptiveRecommendations_RecommendedAssessmentId] ON [dbo].[AdaptiveRecommendations]
(
	[RecommendedAssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdaptiveRecommendations_SourceAttemptId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AdaptiveRecommendations_SourceAttemptId] ON [dbo].[AdaptiveRecommendations]
(
	[SourceAttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdaptiveRecommendations_StudentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AdaptiveRecommendations_StudentId] ON [dbo].[AdaptiveRecommendations]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentAttempts_AssessmentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentAttempts_AssessmentId] ON [dbo].[AssessmentAttempts]
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentAttempts_StartedAt]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentAttempts_StartedAt] ON [dbo].[AssessmentAttempts]
(
	[StartedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssessmentAttempts_Status]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentAttempts_Status] ON [dbo].[AssessmentAttempts]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentAttempts_StudentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentAttempts_StudentId] ON [dbo].[AssessmentAttempts]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AssessmentQuestions_AssessmentId_DisplayOrder]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[AssessmentQuestions] ADD  CONSTRAINT [UQ_AssessmentQuestions_AssessmentId_DisplayOrder] UNIQUE NONCLUSTERED 
(
	[AssessmentId] ASC,
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AssessmentQuestions_AssessmentId_QuestionId]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[AssessmentQuestions] ADD  CONSTRAINT [UQ_AssessmentQuestions_AssessmentId_QuestionId] UNIQUE NONCLUSTERED 
(
	[AssessmentId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentQuestions_AssessmentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentQuestions_AssessmentId] ON [dbo].[AssessmentQuestions]
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentQuestions_PhaseId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentQuestions_PhaseId] ON [dbo].[AssessmentQuestions]
(
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssessmentQuestions_QuestionId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AssessmentQuestions_QuestionId] ON [dbo].[AssessmentQuestions]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Assessments_AssessmentType]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Assessments_AssessmentType] ON [dbo].[Assessments]
(
	[AssessmentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assessments_ReadingId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Assessments_ReadingId] ON [dbo].[Assessments]
(
	[ReadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AttemptAnswers_AttemptId_QuestionId]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[AttemptAnswers] ADD  CONSTRAINT [UQ_AttemptAnswers_AttemptId_QuestionId] UNIQUE NONCLUSTERED 
(
	[AttemptId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttemptAnswers_AttemptId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AttemptAnswers_AttemptId] ON [dbo].[AttemptAnswers]
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttemptAnswers_QuestionId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AttemptAnswers_QuestionId] ON [dbo].[AttemptAnswers]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttemptAnswers_SelectedOptionId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AttemptAnswers_SelectedOptionId] ON [dbo].[AttemptAnswers]
(
	[SelectedOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AttemptPhaseProgress_AttemptId_PhaseId]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[AttemptPhaseProgress] ADD  CONSTRAINT [UQ_AttemptPhaseProgress_AttemptId_PhaseId] UNIQUE NONCLUSTERED 
(
	[AttemptId] ASC,
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AttemptPhaseProgress_AttemptId_SequenceOrder]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[AttemptPhaseProgress] ADD  CONSTRAINT [UQ_AttemptPhaseProgress_AttemptId_SequenceOrder] UNIQUE NONCLUSTERED 
(
	[AttemptId] ASC,
	[SequenceOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttemptPhaseProgress_AttemptId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AttemptPhaseProgress_AttemptId] ON [dbo].[AttemptPhaseProgress]
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttemptPhaseProgress_PhaseId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_AttemptPhaseProgress_PhaseId] ON [dbo].[AttemptPhaseProgress]
(
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Badges_CriteriaCode]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Badges] ADD  CONSTRAINT [UQ_Badges_CriteriaCode] UNIQUE NONCLUSTERED 
(
	[CriteriaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Badges_Name]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Badges] ADD  CONSTRAINT [UQ_Badges_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CommentTags_Name]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[CommentTags] ADD  CONSTRAINT [UQ_CommentTags_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DifficultyLevels_Name]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[DifficultyLevels] ADD  CONSTRAINT [UQ_DifficultyLevels_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DifficultyLevels_RankOrder]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[DifficultyLevels] ADD  CONSTRAINT [UQ_DifficultyLevels_RankOrder] UNIQUE NONCLUSTERED 
(
	[RankOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Dimensions_Name]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Dimensions] ADD  CONSTRAINT [UQ_Dimensions_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeedbackLogs_AttemptId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_FeedbackLogs_AttemptId] ON [dbo].[FeedbackLogs]
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeedbackLogs_PhaseId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_FeedbackLogs_PhaseId] ON [dbo].[FeedbackLogs]
(
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeedbackLogs_QuestionId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_FeedbackLogs_QuestionId] ON [dbo].[FeedbackLogs]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MlPredictions_RecommendationId]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[MlPredictions] ADD  CONSTRAINT [UQ_MlPredictions_RecommendationId] UNIQUE NONCLUSTERED 
(
	[RecommendationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetLogs_ResetByUserId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetLogs_ResetByUserId] ON [dbo].[PasswordResetLogs]
(
	[ResetByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetLogs_StudentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetLogs_StudentId] ON [dbo].[PasswordResetLogs]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Phases_Code]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Phases] ADD  CONSTRAINT [UQ_Phases_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Phases_DefaultOrder]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Phases] ADD  CONSTRAINT [UQ_Phases_DefaultOrder] UNIQUE NONCLUSTERED 
(
	[DefaultOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_QuestionOptions_QuestionId_DisplayOrder]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[QuestionOptions] ADD  CONSTRAINT [UQ_QuestionOptions_QuestionId_DisplayOrder] UNIQUE NONCLUSTERED 
(
	[QuestionId] ASC,
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionOptions_QuestionId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionOptions_QuestionId] ON [dbo].[QuestionOptions]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_QuestionOptions_OneCorrectOption]    Script Date: 11/05/2026 23:51:12 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_QuestionOptions_OneCorrectOption] ON [dbo].[QuestionOptions]
(
	[QuestionId] ASC
)
WHERE ([IsCorrect]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_DifficultyLevelId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Questions_DifficultyLevelId] ON [dbo].[Questions]
(
	[DifficultyLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_DimensionId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Questions_DimensionId] ON [dbo].[Questions]
(
	[DimensionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ReadingPhases_ReadingId_PhaseId]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[ReadingPhases] ADD  CONSTRAINT [UQ_ReadingPhases_ReadingId_PhaseId] UNIQUE NONCLUSTERED 
(
	[ReadingId] ASC,
	[PhaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Readings_CreatedByUserId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Readings_CreatedByUserId] ON [dbo].[Readings]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Readings_DifficultyLevelId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Readings_DifficultyLevelId] ON [dbo].[Readings]
(
	[DifficultyLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Readings_IsActive]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Readings_IsActive] ON [dbo].[Readings]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_Name]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StudentBadges_StudentId_BadgeId]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[StudentBadges] ADD  CONSTRAINT [UQ_StudentBadges_StudentId_BadgeId] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentBadges_BadgeId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_StudentBadges_BadgeId] ON [dbo].[StudentBadges]
(
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentBadges_StudentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_StudentBadges_StudentId] ON [dbo].[StudentBadges]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherComments_AttemptId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherComments_AttemptId] ON [dbo].[TeacherComments]
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherComments_StudentId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherComments_StudentId] ON [dbo].[TeacherComments]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherComments_TeacherId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherComments_TeacherId] ON [dbo].[TeacherComments]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 11/05/2026 23:51:12 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IsActive]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IsActive] ON [dbo].[Users]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 11/05/2026 23:51:12 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] ADD  CONSTRAINT [DF_AdaptiveRecommendations_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssessmentAttempts] ADD  CONSTRAINT [DF_AssessmentAttempts_AttemptNumber]  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[AssessmentAttempts] ADD  CONSTRAINT [DF_AssessmentAttempts_Status]  DEFAULT ('InProgress') FOR [Status]
GO
ALTER TABLE [dbo].[AssessmentAttempts] ADD  CONSTRAINT [DF_AssessmentAttempts_StartedAt]  DEFAULT (sysdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[AssessmentQuestions] ADD  CONSTRAINT [DF_AssessmentQuestions_Points]  DEFAULT ((1.00)) FOR [Points]
GO
ALTER TABLE [dbo].[AssessmentQuestions] ADD  CONSTRAINT [DF_AssessmentQuestions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Assessments] ADD  CONSTRAINT [DF_Assessments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Assessments] ADD  CONSTRAINT [DF_Assessments_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AttemptPhaseProgress] ADD  CONSTRAINT [DF_AttemptPhaseProgress_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Badges] ADD  CONSTRAINT [DF_Badges_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CommentTags] ADD  CONSTRAINT [DF_CommentTags_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FeedbackLogs] ADD  CONSTRAINT [DF_FeedbackLogs_Severity]  DEFAULT ('Info') FOR [Severity]
GO
ALTER TABLE [dbo].[FeedbackLogs] ADD  CONSTRAINT [DF_FeedbackLogs_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MlPredictions] ADD  CONSTRAINT [DF_MlPredictions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetLogs] ADD  CONSTRAINT [DF_PasswordResetLogs_ResetAt]  DEFAULT (sysdatetime()) FOR [ResetAt]
GO
ALTER TABLE [dbo].[QuestionOptions] ADD  CONSTRAINT [DF_QuestionOptions_IsCorrect]  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_QuestionType]  DEFAULT ('MultipleChoice') FOR [QuestionType]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReadingPhases] ADD  CONSTRAINT [DF_ReadingPhases_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[ReadingPhases] ADD  CONSTRAINT [DF_ReadingPhases_IsRequired]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Readings] ADD  CONSTRAINT [DF_Readings_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Readings] ADD  CONSTRAINT [DF_Readings_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentBadges] ADD  CONSTRAINT [DF_StudentBadges_EarnedAt]  DEFAULT (sysdatetime()) FOR [EarnedAt]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_Grade]  DEFAULT ((1)) FOR [Grade]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_IsEnabledForTest]  DEFAULT ((1)) FOR [IsEnabledForTest]
GO
ALTER TABLE [dbo].[TeacherComments] ADD  CONSTRAINT [DF_TeacherComments_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_CanResetPasswords]  DEFAULT ((1)) FOR [CanResetPasswords]
GO
ALTER TABLE [dbo].[Teachers] ADD  CONSTRAINT [DF_Teachers_IsHiddenAdmin]  DEFAULT ((0)) FOR [IsHiddenAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AdaptiveRecommendations_AssessmentAttempts] FOREIGN KEY([SourceAttemptId])
REFERENCES [dbo].[AssessmentAttempts] ([AttemptId])
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [FK_AdaptiveRecommendations_AssessmentAttempts]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AdaptiveRecommendations_Assessments] FOREIGN KEY([RecommendedAssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [FK_AdaptiveRecommendations_Assessments]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AdaptiveRecommendations_CurrentDifficulty] FOREIGN KEY([CurrentDifficultyLevelId])
REFERENCES [dbo].[DifficultyLevels] ([DifficultyLevelId])
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [FK_AdaptiveRecommendations_CurrentDifficulty]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AdaptiveRecommendations_RecommendedDifficulty] FOREIGN KEY([RecommendedDifficultyLevelId])
REFERENCES [dbo].[DifficultyLevels] ([DifficultyLevelId])
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [FK_AdaptiveRecommendations_RecommendedDifficulty]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_AdaptiveRecommendations_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [FK_AdaptiveRecommendations_Students]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentAttempts_Assessments] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [FK_AssessmentAttempts_Assessments]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentAttempts_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [FK_AssessmentAttempts_Students]
GO
ALTER TABLE [dbo].[AssessmentQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentQuestions_Assessments] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssessmentQuestions] CHECK CONSTRAINT [FK_AssessmentQuestions_Assessments]
GO
ALTER TABLE [dbo].[AssessmentQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentQuestions_Phases] FOREIGN KEY([PhaseId])
REFERENCES [dbo].[Phases] ([PhaseId])
GO
ALTER TABLE [dbo].[AssessmentQuestions] CHECK CONSTRAINT [FK_AssessmentQuestions_Phases]
GO
ALTER TABLE [dbo].[AssessmentQuestions]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentQuestions_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[AssessmentQuestions] CHECK CONSTRAINT [FK_AssessmentQuestions_Questions]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_DifficultyLevels] FOREIGN KEY([DifficultyLevelId])
REFERENCES [dbo].[DifficultyLevels] ([DifficultyLevelId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_DifficultyLevels]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_Readings] FOREIGN KEY([ReadingId])
REFERENCES [dbo].[Readings] ([ReadingId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_Readings]
GO
ALTER TABLE [dbo].[AttemptAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AttemptAnswers_AssessmentAttempts] FOREIGN KEY([AttemptId])
REFERENCES [dbo].[AssessmentAttempts] ([AttemptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttemptAnswers] CHECK CONSTRAINT [FK_AttemptAnswers_AssessmentAttempts]
GO
ALTER TABLE [dbo].[AttemptAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AttemptAnswers_QuestionOptions] FOREIGN KEY([SelectedOptionId])
REFERENCES [dbo].[QuestionOptions] ([OptionId])
GO
ALTER TABLE [dbo].[AttemptAnswers] CHECK CONSTRAINT [FK_AttemptAnswers_QuestionOptions]
GO
ALTER TABLE [dbo].[AttemptAnswers]  WITH CHECK ADD  CONSTRAINT [FK_AttemptAnswers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[AttemptAnswers] CHECK CONSTRAINT [FK_AttemptAnswers_Questions]
GO
ALTER TABLE [dbo].[AttemptPhaseProgress]  WITH CHECK ADD  CONSTRAINT [FK_AttemptPhaseProgress_AssessmentAttempts] FOREIGN KEY([AttemptId])
REFERENCES [dbo].[AssessmentAttempts] ([AttemptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttemptPhaseProgress] CHECK CONSTRAINT [FK_AttemptPhaseProgress_AssessmentAttempts]
GO
ALTER TABLE [dbo].[AttemptPhaseProgress]  WITH CHECK ADD  CONSTRAINT [FK_AttemptPhaseProgress_Phases] FOREIGN KEY([PhaseId])
REFERENCES [dbo].[Phases] ([PhaseId])
GO
ALTER TABLE [dbo].[AttemptPhaseProgress] CHECK CONSTRAINT [FK_AttemptPhaseProgress_Phases]
GO
ALTER TABLE [dbo].[FeedbackLogs]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackLogs_AssessmentAttempts] FOREIGN KEY([AttemptId])
REFERENCES [dbo].[AssessmentAttempts] ([AttemptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FeedbackLogs] CHECK CONSTRAINT [FK_FeedbackLogs_AssessmentAttempts]
GO
ALTER TABLE [dbo].[FeedbackLogs]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackLogs_Phases] FOREIGN KEY([PhaseId])
REFERENCES [dbo].[Phases] ([PhaseId])
GO
ALTER TABLE [dbo].[FeedbackLogs] CHECK CONSTRAINT [FK_FeedbackLogs_Phases]
GO
ALTER TABLE [dbo].[FeedbackLogs]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackLogs_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[FeedbackLogs] CHECK CONSTRAINT [FK_FeedbackLogs_Questions]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [FK_MlPredictions_AdaptiveRecommendations] FOREIGN KEY([RecommendationId])
REFERENCES [dbo].[AdaptiveRecommendations] ([RecommendationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [FK_MlPredictions_AdaptiveRecommendations]
GO
ALTER TABLE [dbo].[PasswordResetLogs]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetLogs_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[PasswordResetLogs] CHECK CONSTRAINT [FK_PasswordResetLogs_Students]
GO
ALTER TABLE [dbo].[PasswordResetLogs]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetLogs_Users] FOREIGN KEY([ResetByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PasswordResetLogs] CHECK CONSTRAINT [FK_PasswordResetLogs_Users]
GO
ALTER TABLE [dbo].[QuestionOptions]  WITH CHECK ADD  CONSTRAINT [FK_QuestionOptions_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionOptions] CHECK CONSTRAINT [FK_QuestionOptions_Questions]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_DifficultyLevels] FOREIGN KEY([DifficultyLevelId])
REFERENCES [dbo].[DifficultyLevels] ([DifficultyLevelId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_DifficultyLevels]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Dimensions] FOREIGN KEY([DimensionId])
REFERENCES [dbo].[Dimensions] ([DimensionId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Dimensions]
GO
ALTER TABLE [dbo].[ReadingPhases]  WITH CHECK ADD  CONSTRAINT [FK_ReadingPhases_Phases] FOREIGN KEY([PhaseId])
REFERENCES [dbo].[Phases] ([PhaseId])
GO
ALTER TABLE [dbo].[ReadingPhases] CHECK CONSTRAINT [FK_ReadingPhases_Phases]
GO
ALTER TABLE [dbo].[ReadingPhases]  WITH CHECK ADD  CONSTRAINT [FK_ReadingPhases_Readings] FOREIGN KEY([ReadingId])
REFERENCES [dbo].[Readings] ([ReadingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReadingPhases] CHECK CONSTRAINT [FK_ReadingPhases_Readings]
GO
ALTER TABLE [dbo].[Readings]  WITH CHECK ADD  CONSTRAINT [FK_Readings_DifficultyLevels] FOREIGN KEY([DifficultyLevelId])
REFERENCES [dbo].[DifficultyLevels] ([DifficultyLevelId])
GO
ALTER TABLE [dbo].[Readings] CHECK CONSTRAINT [FK_Readings_DifficultyLevels]
GO
ALTER TABLE [dbo].[Readings]  WITH CHECK ADD  CONSTRAINT [FK_Readings_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Readings] CHECK CONSTRAINT [FK_Readings_Users]
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD  CONSTRAINT [FK_StudentBadges_AssessmentAttempts] FOREIGN KEY([AttemptId])
REFERENCES [dbo].[AssessmentAttempts] ([AttemptId])
GO
ALTER TABLE [dbo].[StudentBadges] CHECK CONSTRAINT [FK_StudentBadges_AssessmentAttempts]
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD  CONSTRAINT [FK_StudentBadges_Badges] FOREIGN KEY([BadgeId])
REFERENCES [dbo].[Badges] ([BadgeId])
GO
ALTER TABLE [dbo].[StudentBadges] CHECK CONSTRAINT [FK_StudentBadges_Badges]
GO
ALTER TABLE [dbo].[StudentBadges]  WITH CHECK ADD  CONSTRAINT [FK_StudentBadges_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentBadges] CHECK CONSTRAINT [FK_StudentBadges_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[TeacherComments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherComments_AssessmentAttempts] FOREIGN KEY([AttemptId])
REFERENCES [dbo].[AssessmentAttempts] ([AttemptId])
GO
ALTER TABLE [dbo].[TeacherComments] CHECK CONSTRAINT [FK_TeacherComments_AssessmentAttempts]
GO
ALTER TABLE [dbo].[TeacherComments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherComments_CommentTags] FOREIGN KEY([CommentTagId])
REFERENCES [dbo].[CommentTags] ([CommentTagId])
GO
ALTER TABLE [dbo].[TeacherComments] CHECK CONSTRAINT [FK_TeacherComments_CommentTags]
GO
ALTER TABLE [dbo].[TeacherComments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherComments_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[TeacherComments] CHECK CONSTRAINT [FK_TeacherComments_Students]
GO
ALTER TABLE [dbo].[TeacherComments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherComments_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[TeacherComments] CHECK CONSTRAINT [FK_TeacherComments_Teachers]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_AdaptiveRecommendations_ConfidenceScore] CHECK  (([ConfidenceScore] IS NULL OR [ConfidenceScore]>=(0) AND [ConfidenceScore]<=(100)))
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [CK_AdaptiveRecommendations_ConfidenceScore]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_AdaptiveRecommendations_EngineType] CHECK  (([EngineType]='Hybrid' OR [EngineType]='BasicML' OR [EngineType]='Rules'))
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [CK_AdaptiveRecommendations_EngineType]
GO
ALTER TABLE [dbo].[AdaptiveRecommendations]  WITH CHECK ADD  CONSTRAINT [CK_AdaptiveRecommendations_PredictedAction] CHECK  (([PredictedAction]='Reforzar' OR [PredictedAction]='AvanzarConApoyo' OR [PredictedAction]='Avanzar'))
GO
ALTER TABLE [dbo].[AdaptiveRecommendations] CHECK CONSTRAINT [CK_AdaptiveRecommendations_PredictedAction]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_AttemptNumber] CHECK  (([AttemptNumber]>=(1)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_AttemptNumber]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_CompletionPercentage] CHECK  (([CompletionPercentage] IS NULL OR [CompletionPercentage]>=(0) AND [CompletionPercentage]<=(100)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_CompletionPercentage]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_CriticalScore] CHECK  (([CriticalScore] IS NULL OR [CriticalScore]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_CriticalScore]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_InferentialScore] CHECK  (([InferentialScore] IS NULL OR [InferentialScore]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_InferentialScore]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_LiteralScore] CHECK  (([LiteralScore] IS NULL OR [LiteralScore]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_LiteralScore]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='InProgress'))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_Status]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_TotalCorrect] CHECK  (([TotalCorrect] IS NULL OR [TotalCorrect]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_TotalCorrect]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_TotalErrors] CHECK  (([TotalErrors] IS NULL OR [TotalErrors]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_TotalErrors]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_TotalScore] CHECK  (([TotalScore] IS NULL OR [TotalScore]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_TotalScore]
GO
ALTER TABLE [dbo].[AssessmentAttempts]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentAttempts_TotalTimeSeconds] CHECK  (([TotalTimeSeconds] IS NULL OR [TotalTimeSeconds]>=(0)))
GO
ALTER TABLE [dbo].[AssessmentAttempts] CHECK CONSTRAINT [CK_AssessmentAttempts_TotalTimeSeconds]
GO
ALTER TABLE [dbo].[AssessmentQuestions]  WITH CHECK ADD  CONSTRAINT [CK_AssessmentQuestions_Points] CHECK  (([Points]>(0)))
GO
ALTER TABLE [dbo].[AssessmentQuestions] CHECK CONSTRAINT [CK_AssessmentQuestions_Points]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [CK_Assessments_AssessmentType] CHECK  (([AssessmentType]='ReadingPractice' OR [AssessmentType]='Posttest' OR [AssessmentType]='Pretest'))
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [CK_Assessments_AssessmentType]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [CK_Assessments_ReadingConsistency] CHECK  (([AssessmentType]='ReadingPractice' AND [ReadingId] IS NOT NULL OR ([AssessmentType]='Posttest' OR [AssessmentType]='Pretest') AND [ReadingId] IS NULL))
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [CK_Assessments_ReadingConsistency]
GO
ALTER TABLE [dbo].[AttemptAnswers]  WITH CHECK ADD  CONSTRAINT [CK_AttemptAnswers_AnswerTimeSeconds] CHECK  (([AnswerTimeSeconds] IS NULL OR [AnswerTimeSeconds]>=(0)))
GO
ALTER TABLE [dbo].[AttemptAnswers] CHECK CONSTRAINT [CK_AttemptAnswers_AnswerTimeSeconds]
GO
ALTER TABLE [dbo].[AttemptAnswers]  WITH CHECK ADD  CONSTRAINT [CK_AttemptAnswers_ScoreObtained] CHECK  (([ScoreObtained] IS NULL OR [ScoreObtained]>=(0)))
GO
ALTER TABLE [dbo].[AttemptAnswers] CHECK CONSTRAINT [CK_AttemptAnswers_ScoreObtained]
GO
ALTER TABLE [dbo].[AttemptPhaseProgress]  WITH CHECK ADD  CONSTRAINT [CK_AttemptPhaseProgress_Status] CHECK  (([Status]='Skipped' OR [Status]='Completed' OR [Status]='InProgress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[AttemptPhaseProgress] CHECK CONSTRAINT [CK_AttemptPhaseProgress_Status]
GO
ALTER TABLE [dbo].[AttemptPhaseProgress]  WITH CHECK ADD  CONSTRAINT [CK_AttemptPhaseProgress_TimeSpentSeconds] CHECK  (([TimeSpentSeconds] IS NULL OR [TimeSpentSeconds]>=(0)))
GO
ALTER TABLE [dbo].[AttemptPhaseProgress] CHECK CONSTRAINT [CK_AttemptPhaseProgress_TimeSpentSeconds]
GO
ALTER TABLE [dbo].[FeedbackLogs]  WITH CHECK ADD  CONSTRAINT [CK_FeedbackLogs_FeedbackType] CHECK  (([FeedbackType]='Hint' OR [FeedbackType]='Final' OR [FeedbackType]='Immediate'))
GO
ALTER TABLE [dbo].[FeedbackLogs] CHECK CONSTRAINT [CK_FeedbackLogs_FeedbackType]
GO
ALTER TABLE [dbo].[FeedbackLogs]  WITH CHECK ADD  CONSTRAINT [CK_FeedbackLogs_Severity] CHECK  (([Severity]='Warning' OR [Severity]='Success' OR [Severity]='Info'))
GO
ALTER TABLE [dbo].[FeedbackLogs] CHECK CONSTRAINT [CK_FeedbackLogs_Severity]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [CK_MlPredictions_AvgResponseTimeSeconds] CHECK  (([AvgResponseTimeSeconds]>=(0)))
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [CK_MlPredictions_AvgResponseTimeSeconds]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [CK_MlPredictions_CriticalScore] CHECK  (([CriticalScore]>=(0)))
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [CK_MlPredictions_CriticalScore]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [CK_MlPredictions_CurrentDifficultyRank] CHECK  (([CurrentDifficultyRank]>=(1)))
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [CK_MlPredictions_CurrentDifficultyRank]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [CK_MlPredictions_ErrorCount] CHECK  (([ErrorCount]>=(0)))
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [CK_MlPredictions_ErrorCount]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [CK_MlPredictions_InferentialScore] CHECK  (([InferentialScore]>=(0)))
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [CK_MlPredictions_InferentialScore]
GO
ALTER TABLE [dbo].[MlPredictions]  WITH CHECK ADD  CONSTRAINT [CK_MlPredictions_LiteralScore] CHECK  (([LiteralScore]>=(0)))
GO
ALTER TABLE [dbo].[MlPredictions] CHECK CONSTRAINT [CK_MlPredictions_LiteralScore]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_QuestionType] CHECK  (([QuestionType]='MultipleChoice'))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_QuestionType]
GO
ALTER TABLE [dbo].[ReadingPhases]  WITH CHECK ADD  CONSTRAINT [CK_ReadingPhases_MinQuestions] CHECK  (([MinQuestionsToUnlockNext] IS NULL OR [MinQuestionsToUnlockNext]>=(0)))
GO
ALTER TABLE [dbo].[ReadingPhases] CHECK CONSTRAINT [CK_ReadingPhases_MinQuestions]
GO
ALTER TABLE [dbo].[Readings]  WITH CHECK ADD  CONSTRAINT [CK_Readings_EstimatedMinutes] CHECK  (([EstimatedMinutes] IS NULL OR [EstimatedMinutes]>(0)))
GO
ALTER TABLE [dbo].[Readings] CHECK CONSTRAINT [CK_Readings_EstimatedMinutes]
GO
USE [master]
GO
